header{
    width: 100%;
    color: #5f6368;
    position: fixed;
    top: 0;
    background-color: #fff;
}

header img{
    width: 80px;
    margin: 10px;
}

header ul{
    list-style: none;
    color:#5f6368;
    padding: 0;
    margin: 0 10px;
}

header li{
    padding: 5px 0;
    margin-right: 30px;
    font-weight: 500;
    cursor: pointer;
}

header .active{
    color: #3367d6;
    padding-bottom: 6px;
    border-bottom: 2px solid #3367d6;
}

hr{
    margin: 0;
}

main{
    margin-top: 120px;
}

.container{
    width: 1000px;
}

main h4{
    padding-top: 60px;
}

main p{
    margin-top: 20px;
}

footer{
    background: #f5f5f5;
}

footer ul{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    font-size: 12px;
}

footer li{
    margin-right: 15px;
    color: #3d3d3dcc;
}